@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

@layer components {
  .list-item {
    @apply px-8 py-4 md:py-0 text-sm font-semibold hover:text-rose-500 cursor-pointer transition-all ease-in-out duration-100;
  }

  .active {
    @apply text-rose-500 transition ease-in-out duration-150;
  }

  .section {
    @apply flex flex-col justify-center items-center px-5 md:px-28;
  }

  .tech {
    @apply flex flex-col justify-end dark:bg-slate-800 items-center text-center p-5 rounded bg-white shadow-md;
  }

  .inputs {
    @apply outline-none px-2 py-2 md:mr-10 dark:bg-slate-700;
  }
}

/* .sidebar {
  min-width: min(75vw, 400px);
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
